<main class="flex-grow-1 d-flex flex-column align-item-center p-3 my-2 w-100"> 
  <h2 class="text-center">Chat</h2>
  <div class="card w-full "></div>
    <fieldset>
       <label class="p-2" id="name"></label>
       <input type="text" name="text" id="text" placeholder="type!">
    </fieldset>
    <span id="chats"></span>
</main>




<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/chat.js"></script>